/*@import url(http://fonts.googleapis.com/css?family=Bilbo);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@font-face {
  font-family: 'Bilbo';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Regular'), local('Bilbo-Regular'), url(../font/Yxni0HHGbarBJRvB0FZy26CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic,500,700,900);

html, body{
  height: 100%;
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #f5f8fa;
  font-size: 15px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
	outline:none;
}

.btn-social {
  padding: 9px 28px;
}

.btn-social :first-child {
    left: 4px !important;
    top: 4px !important;
}

.modal-sm {
    width: 440px !important;
}

/*Helpers*/
.mg-top{
  margin-top: 20px;
}

.mg-btm{
  margin-bottom: 20px;
}

body{
	/*background: #f6f8f8;*/
}

/* Navbar */
.navbar{
  min-height: 60px;
}
.navbar-default{
  border: none;
}
.navbar-brand {
  line-height: 30px;
  height: 60px;
  font-size: 25px;
  margin-left: 15px !important;
  width: 130px;
}
.navbar-header{
  border-right: 1px solid #116AC5;
  margin-right: 20px !important;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: #fff;
}

.navbar-form{
  padding: 0px;
  margin: 0px;
}

.main-well{
  background: transparent;
  border: none;
}

.my-video-dimensions{
  width: 100%;
}

.well, .panel-default{
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-color: #d3e0e9;
}

/*Navbar Search*/
.navbar-primary .form-control,.navbar-primary .form-control:focus {
    background: #207de5;
    height: 60px;
    color:#fff;
    font-size: 18px;
}

.navbar-primary .form-control::-webkit-input-placeholder {
   color: #fff;
}

.navbar-primary .form-control:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

.navbar-primary .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

.navbar-primary .form-control:-ms-input-placeholder {
   color: #fff;
}

/*.navbar-primary .form-control:focus{
  width: 150%;
  margin-left: -50%;
}*/

.navbar-form .input-group-addon{
  background: transparent;
  font-size: 18px;
  color: #fff;
  border:none;
  padding-right: 3px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background: transparent;
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
  color: #fff;
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #fff !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #2982e6;
  color: #fff;
}

.navbar-nav>li>a {
  line-height: 30px;
}

.navbar-nav>li{
  color: #fff !important;
}

.video-home{
  width: 300px;
  display: inline-block;
}

.modal-content {
  top:50px !important;
}

.modal-content .panel{
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0px !important;
}

.panel-body .modal-title {
  margin-bottom: 28px !important;
}

.handle-btn {
  margin-top: 15px;
}

/*Uploader Css*/
.upload-container {
  margin:0 auto;
  background: #fff;
  border-radius: 2px;
  border:1px solid #d3e0e9;
  display: block;
  min-height: 200px;
  width: 80%;
  position: relative;
  text-align: center;
  padding:20px;
  margin-top: 40px;
}

#uploadVideos, .dropzone{
    min-height: 200px;
    border:none;
    padding: 0px;
}

.btn-upload{
    padding: 9px 18px;
    cursor: pointer !important;
}

.upl-mini-txt{
    color: #969A99;
    font-size: 15px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.btn-upl-lft{
    border-right:2px solid #1369CA;
}

.dropzone .dz-preview .dz-image{
  border: 1px solid #d3e0e9 !important;
  border-radius: 5px;
}

.dropzone .dz-preview .dz-error-mark svg, .dropzone .dz-preview .dz-success-mar
 svg{
  width:25px;
  height: 25px;
}

.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark{
    margin-left: -16px;
    margin-top: -13px;
}

.dropzone.dz-clickable {
    cursor: default !important;
}

.dropdown-menu{
  font-size:15px;
}

/* Custom theme for Dropzone */
.uploader-template{
  border:1px solid rgba(221,221,221,0.68);
  border-radius: 4px;
  margin: 50px;
  min-height: 220px;
  padding: 10px;
}

.uploader-template .progress{
    margin-top: 10px;
}

/*.uploader-template .preview-img{
  height: 120px;
  display: inline-block;
  margin: 2px;
}
*/
.uploader-template .dz-details{
  height: 120px;
  margin-left: 35px;
}

.uploader-template h4{
  display: inline-block;
  margin-right: 15px;
}

.uploader-template .dz-size h5{
  display: inline-block;
  margin-right: 15px;
  margin-left: -60px;
}

.uploader-template .dz-filename span {
  font-size: 17px;
}

.uploader-template .dz-size span{
  font-size: 15px;
}

.uploader-template .preview-img>img{
    width: 100%;
    min-height: 120px;
}

#select2-drop{
    width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #d3e0e9;
    outline: 0;
    width: 100%;
}


/*
  Sidebar CSS
*/


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #505050;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Cards */

.custom-card h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.custom-card .card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.custom-card .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.custom-card .card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.custom-card .card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.custom-card .card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.custom-card .card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.custom-card .card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.custom-card .profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.custom-card .profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.custom-card .profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.custom-card .profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.custom-card .text-bold {
    font-weight: 700;
}

.custom-card .meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.custom-card .meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.custom-card .meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.custom-card .box > .icon { text-align: center; position: relative; }
.custom-card .box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.custom-card .box > .icon:hover > .image { background: #333; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transform:rotate(360deg) scale(1.5); -moz-transform:rotate(360deg) scale(1.5); -o-transform:rotate(360deg) scale(1.5); -ms-transform:rotate(360deg) scale(1.5); transform:rotate(360deg) scale(1.5); }
.custom-card .box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.custom-card .box > .icon:hover > .image > i { color: white !important; }
.custom-card .box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.custom-card .box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.custom-card .box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.custom-card .box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.custom-card .box > .icon:hover > .info > h3.title, .custom-card .box > .icon:hover > .info > p, .custom-card .box > .icon:hover > .info > .more > a { color: #222; }
.custom-card .box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.custom-card .box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.custom-card .box .space { height: 30px; }