<div class="main-well row col-md-offset-1">
    <div class="video-home well">
        <video class="video-js vjs-big-play-centered" controls="" data-setup=''
        height="264" id="my-video" poster="vid.jpg" preload="auto"><source src=
        "vid.mp4" type='video/mp4'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and
        consider upgrading to a web browser that <a href=
        "http://videojs.com/html5-video-support/" target="_blank">supports
        HTML5 video</a></p></video>
    </div>

    <div class="video-home well">
        <video class="video-js vjs-big-play-centered" controls="" data-setup=''
        height="264" id="my-video" poster="vid.jpg" preload="auto"><source src=
        "vid.mp4" type='video/mp4'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and
        consider upgrading to a web browser that <a href=
        "http://videojs.com/html5-video-support/" target="_blank">supports
        HTML5 video</a></p></video>
    </div>

    <div class="video-home well">
        <video class="video-js vjs-big-play-centered" controls="" data-setup=''
        height="264" id="my-video" poster="vid.jpg" preload="auto"><source src=
        "vid.mp4" type='video/mp4'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and
        consider upgrading to a web browser that <a href=
        "http://videojs.com/html5-video-support/" target="_blank">supports
        HTML5 video</a></p></video>
    </div>

    <div class="video-home well">
        <video class="video-js vjs-big-play-centered" controls="" data-setup=''
        height="264" id="my-video" poster="vid.jpg" preload="auto"><source src=
        "vid.mp4" type='video/mp4'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and
        consider upgrading to a web browser that <a href=
        "http://videojs.com/html5-video-support/" target="_blank">supports
        HTML5 video</a></p></video>
    </div>
        

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</div>
