<div class="container upload-container">
    <div class="dropzone" id="uploadVideos">
        <!-- Uplaoder Custom Template -->
         <div id="uploader-template" style="display: none;">
            <div class="uploader-template">
              <div class="row">
                <div class="col-lg-3">
                  <div class="preview-img"><img data-dz-thumbnail /></div>
                </div>
                <div class="col-lg-9">
                  <div class="dz-details">
                    <div class="form-group">
      							  <input type="text" class="form-control" id="title" placeholder="Title">
      							</div>
                    <div class="form-group">
                      <textarea class="form-control" rows="4" id="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                      <select class="uploader-tags form-control" multiple="multiple"></select>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <h2 class="upl-max-txt">You can upload Videos</h2>
        <h4 class="upl-mini-txt">Click On The Button Or Drag & Drop Files Here</h4>
        <div id="uploadgroupbtn">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-lg btn-upload btn-upl-lft">
              <i class="fa fa-upload" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-upload">Upload Video</button>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var uploader = window.uploader = new Dropzone("div#uploadVideos",
    {
      // url: "http://upload.mivid.co:8501",
      url: "http://localhost:8501",
      maxFilesize: 150,
      previewTemplate: document.getElementById('uploader-template').innerHTML,
      init: function(){
        $(".btn-upload").on("click", function(){
          this.hiddenFileInput.click();
        }.bind(this));
      }
    });
    uploader.on('sending', function(file, xhr, formData){
      xhr.setRequestHeader('user', JSON.stringify(Mivid.user));
    });
    uploader.on('addedfile', function(file){
      file.previewElement.getElementsByTagName('input')[0].value = file.name;
      $(".uploader-tags").select2({
        tags: true,
        placeholder: "Select Tags",
      });
    });
    uploader.on('complete', function(file){
      console.log(file);
      window.cat = file;
    })
    $(".dz-default.dz-message").hide();

</script>
