<style>
.upload-container {
  margin:0 auto;
  background: #fff;
  border-radius: 2px;
  border:1px solid #d3e0e9;
  display: block;
  min-height: 400px;
  width: 50%;
  position: relative;
  text-align: center;
  padding:20px;
  margin-top: 40px;
}

#uploadVideos, .dropzone{
    min-height: 400px;
    border:none;
    padding: 0px;
}

.btn-upload{
    padding: 9px 18px;
    cursor: pointer !important;
}

.upl-mini-txt{
    color: #969A99;
    font-size: 15px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.btn-upl-lft{
    border-right:2px solid #1369CA;
}

.dropzone .dz-preview .dz-image{
  border: 1px solid #d3e0e9 !important;
  border-radius: 5px;
}

.dropzone .dz-preview .dz-error-mark svg, .dropzone .dz-preview .dz-success-mar
 svg{
  width:25px;
  height: 25px;
}

.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark{
    margin-left: -16px;
    margin-top: -13px;
}

.dropzone.dz-clickable {
    cursor: default !important;
}

</style>
<div class="container upload-container">
    <div class="dropzone" id="uploadVideos">
        <h2 class="upl-max-txt">You can upload Videos</h2>
        <h4 class="upl-mini-txt">Click On The Button Or Drag & Drop Files Here</h4>
        <div id="uploadgroupbtn">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-lg btn-upload btn-upl-lft"><i class="fa fa-upload" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary btn-lg btn-upload">Upload Video</button>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var uploader = new Dropzone("div#uploadVideos",
    {
      url: "http://upload.mivid.co:8501",
      maxFilesize: 5,
      init: function(){
        $(".btn-upload").on("click", function(){
          this.hiddenFileInput.click();
        }.bind(this));
      }
    });
    uploader.on('sending', function(file, xhr, formData){
      xhr.setRequestHeader('user', JSON.stringify(Mivid.user));
    });
    $(".dz-default.dz-message").hide();
</script>
